In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression

In [2]:
county_columns=['county_Madera','county_Monterey','county_Napa','county_Sacramento','county_San Joaquin','county_San Luis Obispo','county_Santa Barbara','county_Sonoma','county_Yolo']

## Mapping Relationship Between Variables

Use the relationship between variables as seen in existing data sets to fill in necessary values for future projections.

In [3]:
df=pd.read_csv('../datasets/final_merged_data.csv')

In [4]:
df.head(3)

,year,county code,county,harvested acres,yield,production,price p/u,value,annual_precip,annual_tavg,annual_tmin,annual_tmax,annual_var,season_precip,season_tavg,season_tmin,season_tmax,season_var
0,2000,19,Fresno,75139.0,11.12,835310.0,177.0,147550000,20.72,55.708333,31.4,87.1,59.4,3.44,65.416667,41.1,87.1,17.7
1,2000,39,Madera,56410.0,9.92,559563.0,186.0,103830000,25.89,56.516667,31.8,88.9,60.9,4.01,66.166667,41.0,88.9,18.2
2,2000,55,Napa,32365.0,4.23,136962.0,2464.0,337469000,31.24,59.266667,38.1,88.6,49.0,4.21,67.183333,45.2,88.6,12.2

##### Annual Average Temperature (annual_tavg)

In [5]:
X=df[['annual_tmin','annual_tmax']]
y=df['annual_tavg']

lr_annual_tavg=LinearRegression()
lr_annual_tavg.fit(X,y)

LinearRegression()

##### Seasonal Average Temperature (season_tavg)

In [6]:
X=df[['annual_tavg']]
y=df['season_tavg']

lr_season_tavg=LinearRegression()
lr_season_tavg.fit(X,y)

LinearRegression()

##### Seasonal Minimum Temperature (season_tmin)

In [7]:
X=df[['annual_tmin']]
y=df['season_tmin']

lr_season_tmin=LinearRegression()
lr_season_tmin.fit(X,y)

LinearRegression()

## NAPA - Historical

In [8]:
prec = pd.read_csv('../datasets/napa_climate/pr_year_CNRM-CM5_historical.csv')
avg_max = pd.read_csv('../datasets/napa_climate/tasmax_year_CNRM-CM5_historical.csv')
avg_min = pd.read_csv('../datasets/napa_climate/tasmin_year_CNRM-CM5_historical.csv')

In [9]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [10]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [11]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
historical_climate_napa = pd.merge(first_join, avg_min, left_on='index', right_on='index')
historical_climate_napa.drop(columns='index', inplace=True)
historical_climate_napa.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  1950-12-31 00:00:00+00:00  10.660813    70.1236   45.54186

## NAPA RCP 4.5

In [12]:
prec = pd.read_csv('../datasets/napa_climate/pr_year_CNRM-CM5_rcp45.csv')
avg_max = pd.read_csv('../datasets/napa_climate/tasmax_year_CNRM-CM5_rcp45.csv')
avg_min = pd.read_csv('../datasets/napa_climate/tasmin_year_CNRM-CM5_rcp45.csv')

In [13]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [14]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [15]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp45_climate_napa = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp45_climate_napa.drop(columns='index', inplace=True)
rcp45_climate_napa.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   4.203695  73.273605  45.209522

In [16]:
def simplify_year(string):
    return string[0:4]

In [17]:
rcp45_climate_napa['time Prec']=rcp45_climate_napa['time Prec'].map(simplify_year)

In [18]:
rcp45_climate_napa.head(1)

  time Prec  mean Prec  mean Tmax  mean Tmin
0      2006   4.203695  73.273605  45.209522

In [19]:
rcp45_climate_napa.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [20]:
X=df[['annual_tmin','annual_tmax']]
y=df['annual_tavg']

lr_annual_tavg=LinearRegression()
lr_annual_tavg.fit(X,y)

LinearRegression()

In [21]:
X=rcp45_climate_napa[['annual_tmin','annual_tmax']]
rcp45_climate_napa['annual_tavg']=lr_annual_tavg.predict(X)

In [22]:
X=rcp45_climate_napa[['annual_tavg']]
rcp45_climate_napa['season_tavg']=lr_season_tavg.predict(X)

In [23]:
X=rcp45_climate_napa[['annual_tmin']]
rcp45_climate_napa['season_tmin']=lr_season_tmin.predict(X)

In [24]:
for county in county_columns:
    if county=='county_Napa':
        rcp45_climate_napa[county]=1
    else:
        rcp45_climate_napa[county]=0

In [25]:
rcp45_climate_napa.head(3)

,year,annual_precip,annual_tmax,annual_tmin,annual_tavg,season_tavg,season_tmin,county_Madera,county_Monterey,county_Napa,county_Sacramento,county_San Joaquin,county_San Luis Obispo,county_Santa Barbara,county_Sonoma,county_Yolo
0,2006,4.203695,73.273605,45.209522,58.078777,65.659579,48.228762,0,0,1,0,0,0,0,0,0
1,2007,5.943792,73.647140,46.158684,58.593558,66.201239,48.695874,0,0,1,0,0,0,0,0,0
2,2008,10.814575,73.451140,46.439552,58.645024,66.255393,48.834098,0,0,1,0,0,0,0,0,0

## NAPA - RCP 8.5

In [26]:
prec = pd.read_csv('../datasets/napa_climate/pr_year_CNRM-CM5_rcp85.csv')
avg_max = pd.read_csv('../datasets/napa_climate/tasmax_year_CNRM-CM5_rcp85.csv')
avg_min = pd.read_csv('../datasets/napa_climate/tasmin_year_CNRM-CM5_rcp85.csv')

In [27]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [28]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [29]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp85_climate_napa = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp85_climate_napa.drop(columns='index', inplace=True)
rcp85_climate_napa.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00    4.76829   72.29054   44.06914

In [30]:
rcp85_climate_napa['time Prec']=rcp85_climate_napa['time Prec'].map(simplify_year)

In [31]:
rcp85_climate_napa.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [32]:
X=rcp85_climate_napa[['annual_tmin','annual_tmax']]
rcp85_climate_napa['annual_tavg']=lr_annual_tavg.predict(X)

In [33]:
X=rcp85_climate_napa[['annual_tavg']]
rcp85_climate_napa['season_tavg']=lr_season_tavg.predict(X)

In [34]:
X=rcp85_climate_napa[['annual_tmin']]
rcp85_climate_napa['season_tmin']=lr_season_tmin.predict(X)

In [35]:
for county in county_columns:
    if county=='county_Napa':
        rcp85_climate_napa[county]=1
    else:
        rcp85_climate_napa[county]=0

## Sonoma - Historical

In [36]:
prec = pd.read_csv('../datasets/sonoma_climate/pr_year_CNRM-CM5_historical.csv')
avg_max = pd.read_csv('../datasets/sonoma_climate/tasmax_year_CNRM-CM5_historical.csv')
avg_min = pd.read_csv('../datasets/sonoma_climate/tasmin_year_CNRM-CM5_historical.csv')

In [37]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [38]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [39]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
historical_climate_sonoma = pd.merge(first_join, avg_min, left_on='index', right_on='index')
historical_climate_sonoma.drop(columns='index', inplace=True)
historical_climate_sonoma.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  1950-12-31 00:00:00+00:00  30.501086    68.9162   45.79026

## Sonoma - RCP 45

In [40]:
prec = pd.read_csv('../datasets/sonoma_climate/pr_year_CNRM-CM5_rcp45.csv')
avg_max = pd.read_csv('../datasets/sonoma_climate/tasmax_year_CNRM-CM5_rcp45.csv')
avg_min = pd.read_csv('../datasets/sonoma_climate/tasmin_year_CNRM-CM5_rcp45.csv')

In [41]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [42]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [43]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp45_climate_sonoma = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp45_climate_sonoma.drop(columns='index', inplace=True)
rcp45_climate_sonoma.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00  10.933587  71.658775   44.67641

In [44]:
rcp45_climate_sonoma['time Prec']=rcp45_climate_sonoma['time Prec'].map(simplify_year)

In [45]:
rcp45_climate_sonoma.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [46]:
X=rcp45_climate_sonoma[['annual_tmin','annual_tmax']]
rcp45_climate_sonoma['annual_tavg']=lr_annual_tavg.predict(X)

In [47]:
X=rcp45_climate_sonoma[['annual_tavg']]
rcp45_climate_sonoma['season_tavg']=lr_season_tavg.predict(X)

In [48]:
X=rcp45_climate_sonoma[['annual_tmin']]
rcp45_climate_sonoma['season_tmin']=lr_season_tmin.predict(X)

In [49]:
for county in county_columns:
    if county=='county_Sonoma':
        rcp45_climate_sonoma[county]=1
    else:
        rcp45_climate_sonoma[county]=0

## Sonoma - RCP 85

In [50]:
prec = pd.read_csv('../datasets/sonoma_climate/pr_year_CNRM-CM5_rcp85.csv')
avg_max = pd.read_csv('../datasets/sonoma_climate/tasmax_year_CNRM-CM5_rcp85.csv')
avg_min = pd.read_csv('../datasets/sonoma_climate/tasmin_year_CNRM-CM5_rcp85.csv')

In [51]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [52]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [53]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp85_climate_sonoma = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp85_climate_sonoma.drop(columns='index', inplace=True)
rcp85_climate_sonoma.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00  11.241152   70.86705  43.311687

In [54]:
rcp85_climate_sonoma['time Prec']=rcp85_climate_sonoma['time Prec'].map(simplify_year)

In [55]:
rcp85_climate_sonoma.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [56]:
X=rcp85_climate_sonoma[['annual_tmin','annual_tmax']]
rcp85_climate_sonoma['annual_tavg']=lr_annual_tavg.predict(X)

In [57]:
X=rcp85_climate_sonoma[['annual_tavg']]
rcp85_climate_sonoma['season_tavg']=lr_season_tavg.predict(X)

In [58]:
X=rcp85_climate_sonoma[['annual_tmin']]
rcp85_climate_sonoma['season_tmin']=lr_season_tmin.predict(X)

In [59]:
for county in county_columns:
    if county=='county_Sonoma':
        rcp85_climate_sonoma[county]=1
    else:
        rcp85_climate_sonoma[county]=0

## San Joaquin - Historical

In [60]:
prec = pd.read_csv('../datasets/sanjoaquin_climate/pr_year_CNRM-CM5_historical.csv')
avg_max = pd.read_csv('../datasets/sanjoaquin_climate/tasmax_year_CNRM-CM5_historical.csv')
avg_min = pd.read_csv('../datasets/sanjoaquin_climate/tasmin_year_CNRM-CM5_historical.csv')

In [61]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [62]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [63]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
historical_climate_sj = pd.merge(first_join, avg_min, left_on='index', right_on='index')
historical_climate_sj.drop(columns='index', inplace=True)
historical_climate_sj.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  1950-12-31 00:00:00+00:00   7.624904   73.19351  49.377846

## San Joaquin - RCP 45

In [64]:
prec = pd.read_csv('../datasets/sanjoaquin_climate/pr_year_CNRM-CM5_rcp45.csv')
avg_max = pd.read_csv('../datasets/sanjoaquin_climate/tasmax_year_CNRM-CM5_rcp45.csv')
avg_min = pd.read_csv('../datasets/sanjoaquin_climate/tasmin_year_CNRM-CM5_rcp45.csv')

In [65]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [66]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [67]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp45_climate_sj = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp45_climate_sj.drop(columns='index', inplace=True)
rcp45_climate_sj.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   3.326136   76.36575  48.575844

In [68]:
rcp45_climate_sj['time Prec']=rcp45_climate_sj['time Prec'].map(simplify_year)

In [69]:
rcp45_climate_sj.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [70]:
X=rcp45_climate_sj[['annual_tmin','annual_tmax']]
rcp45_climate_sj['annual_tavg']=lr_annual_tavg.predict(X)

In [71]:
X=rcp45_climate_sj[['annual_tavg']]
rcp45_climate_sj['season_tavg']=lr_season_tavg.predict(X)

In [72]:
X=rcp45_climate_sj[['annual_tmin']]
rcp45_climate_sj['season_tmin']=lr_season_tmin.predict(X)

In [73]:
for county in county_columns:
    if county=='county_San Joaquin':
        rcp45_climate_sj[county]=1
    else:
        rcp45_climate_sj[county]=0

## San Joaquin - RCP 85

In [74]:
prec = pd.read_csv('../datasets/sanjoaquin_climate/pr_year_CNRM-CM5_rcp85.csv')
avg_max = pd.read_csv('../datasets/sanjoaquin_climate/tasmax_year_CNRM-CM5_rcp85.csv')
avg_min = pd.read_csv('../datasets/sanjoaquin_climate/tasmin_year_CNRM-CM5_rcp85.csv')

In [75]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [76]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [77]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp85_climate_sj = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp85_climate_sj.drop(columns='index', inplace=True)
rcp85_climate_sj.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   3.686406   75.03932  47.289837

In [78]:
rcp85_climate_sj['time Prec']=rcp85_climate_sj['time Prec'].map(simplify_year)

In [79]:
rcp85_climate_sj.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [80]:
X=rcp85_climate_sj[['annual_tmin','annual_tmax']]
rcp85_climate_sj['annual_tavg']=lr_annual_tavg.predict(X)

In [81]:
X=rcp85_climate_sj[['annual_tavg']]
rcp85_climate_sj['season_tavg']=lr_season_tavg.predict(X)

In [82]:
X=rcp85_climate_sj[['annual_tmin']]
rcp85_climate_sj['season_tmin']=lr_season_tmin.predict(X)

In [83]:
for county in county_columns:
    if county=='county_San Joaquin':
        rcp85_climate_sj[county]=1
    else:
        rcp85_climate_sj[county]=0

## Summary of data

In [84]:
# historical
historical_climate_napa.to_csv('../datasets/historical_napa.csv')
historical_climate_sonoma.to_csv('../datasets/historical_sonoma.csv')
historical_climate_sj.to_csv('../datasets/historical_sj.csv')

In [85]:
# rcp45: projections 1 (warm house worlsd)
rcp45_climate_napa.to_csv('../datasets/rcp45_napa.csv',index=False)
rcp45_climate_sonoma.to_csv('../datasets/rcp45_sonoma.csv',index=False)
rcp45_climate_sj.to_csv('../datasets/rcp45_sj.csv',index=False)

In [86]:
# rcp85: projections 2 (hot house world)
rcp85_climate_napa.to_csv('../datasets/rcp85_napa.csv',index=False)
rcp85_climate_sonoma.to_csv('../datasets/rcp85_sonoma.csv',index=False)
rcp85_climate_sj.to_csv('../datasets/rcp85_sj.csv',index=False)