In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression

In [9]:
county_columns=['county_Madera','county_Monterey','county_Napa','county_Sacramento','county_San Joaquin','county_San Luis Obispo','county_Santa Barbara','county_Sonoma','county_Yolo']

## Mapping Relationship Between Variables

Use the relationship between variables as seen in existing data sets to fill in necessary values for future projections.

In [10]:
df=pd.read_csv('../datasets/final_merged_data.csv')

In [11]:
df.head(3)

,year,county code,county,harvested acres,yield,production,price p/u,value,annual_precip,annual_tavg,annual_tmin,annual_tmax,annual_var,season_precip,season_tavg,season_tmin,season_tmax,season_var
0,2000,19,Fresno,75139.0,11.12,835310.0,177.0,147550000,20.72,55.708333,31.4,87.1,59.4,3.44,65.416667,41.1,87.1,17.7
1,2000,39,Madera,56410.0,9.92,559563.0,186.0,103830000,25.89,56.516667,31.8,88.9,60.9,4.01,66.166667,41.0,88.9,18.2
2,2000,55,Napa,32365.0,4.23,136962.0,2464.0,337469000,31.24,59.266667,38.1,88.6,49.0,4.21,67.183333,45.2,88.6,12.2

##### Annual Average Temperature (annual_tavg)

In [12]:
X=df[['annual_tmin','annual_tmax']]
y=df['annual_tavg']

lr_annual_tavg=LinearRegression()
lr_annual_tavg.fit(X,y)

LinearRegression()

##### Seasonal Precipitation (season_precip)

In [13]:
X=df[['annual_precip']]
y=df['season_precip']

lr_seasonal_precip=LinearRegression()
lr_seasonal_precip.fit(X,y)

LinearRegression()

##### Seasonal Average Temperature (season_tavg)

In [14]:
X=df[['annual_tavg']]
y=df['season_tavg']

lr_season_tavg=LinearRegression()
lr_season_tavg.fit(X,y)

LinearRegression()

##### Seasonal Minimum Temperature (season_tmin)

In [94]:
X=df[['annual_tmin']]
y=df['season_tmin']

lr_season_tmin=LinearRegression()
lr_season_tmin.fit(X,y)

LinearRegression()

## NAPA - Historical

In [16]:
prec = pd.read_csv('../datasets/napa_climate/pr_year_CNRM-CM5_historical.csv')
avg_max = pd.read_csv('../datasets/napa_climate/tasmax_year_CNRM-CM5_historical.csv')
avg_min = pd.read_csv('../datasets/napa_climate/tasmin_year_CNRM-CM5_historical.csv')

In [17]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [18]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [19]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
historical_climate_napa = pd.merge(first_join, avg_min, left_on='index', right_on='index')
historical_climate_napa.drop(columns='index', inplace=True)
historical_climate_napa.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  1950-12-31 00:00:00+00:00   0.140274    70.1236   45.54186

## NAPA RCP 4.5

In [20]:
prec = pd.read_csv('../datasets/napa_climate/pr_year_CNRM-CM5_rcp45.csv')
avg_max = pd.read_csv('../datasets/napa_climate/tasmax_year_CNRM-CM5_rcp45.csv')
avg_min = pd.read_csv('../datasets/napa_climate/tasmin_year_CNRM-CM5_rcp45.csv')

In [21]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [22]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [23]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp45_climate_napa = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp45_climate_napa.drop(columns='index', inplace=True)
rcp45_climate_napa.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   0.055312  73.273605  45.209522

In [24]:
def simplify_year(string):
    return string[0:4]

In [25]:
rcp45_climate_napa['time Prec']=rcp45_climate_napa['time Prec'].map(simplify_year)

In [26]:
rcp45_climate_napa.head(1)

  time Prec  mean Prec  mean Tmax  mean Tmin
0      2006   0.055312  73.273605  45.209522

In [27]:
rcp45_climate_napa.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [28]:
X=df[['annual_tmin','annual_tmax']]
y=df['annual_tavg']

lr_annual_tavg=LinearRegression()
lr_annual_tavg.fit(X,y)

LinearRegression()

In [29]:
X=rcp45_climate_napa[['annual_tmin','annual_tmax']]
rcp45_climate_napa['annual_tavg']=lr_annual_tavg.predict(X)

In [30]:
X=rcp45_climate_napa[['annual_precip']]
rcp45_climate_napa['season_precip']=lr_seasonal_precip.predict(X)

In [31]:
X=rcp45_climate_napa[['annual_tavg']]
rcp45_climate_napa['season_tavg']=lr_season_tavg.predict(X)

In [95]:
X=rcp45_climate_napa[['annual_tmin']]
rcp45_climate_napa['season_tmin']=lr_season_tmin.predict(X)

In [32]:
for county in county_columns:
    if county=='county_Napa':
        rcp45_climate_napa[county]=1
    else:
        rcp45_climate_napa[county]=0

## NAPA - RCP 8.5

In [33]:
prec = pd.read_csv('../datasets/napa_climate/pr_year_CNRM-CM5_rcp85.csv')
avg_max = pd.read_csv('../datasets/napa_climate/tasmax_year_CNRM-CM5_rcp85.csv')
avg_min = pd.read_csv('../datasets/napa_climate/tasmin_year_CNRM-CM5_rcp85.csv')

In [34]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [35]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [36]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp85_climate_napa = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp85_climate_napa.drop(columns='index', inplace=True)
rcp85_climate_napa.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   0.062741   72.29054   44.06914

In [37]:
rcp85_climate_napa['time Prec']=rcp85_climate_napa['time Prec'].map(simplify_year)

In [38]:
rcp85_climate_napa.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [39]:
X=rcp85_climate_napa[['annual_tmin','annual_tmax']]
rcp85_climate_napa['annual_tavg']=lr_annual_tavg.predict(X)

In [40]:
X=rcp85_climate_napa[['annual_precip']]
rcp85_climate_napa['season_precip']=lr_seasonal_precip.predict(X)

In [41]:
X=rcp85_climate_napa[['annual_tavg']]
rcp85_climate_napa['season_tavg']=lr_season_tavg.predict(X)

In [96]:
X=rcp85_climate_napa[['annual_tmin']]
rcp85_climate_napa['season_tmin']=lr_season_tmin.predict(X)

In [42]:
for county in county_columns:
    if county=='county_Napa':
        rcp85_climate_napa[county]=1
    else:
        rcp85_climate_napa[county]=0

## Sonoma - Historical

In [43]:
prec = pd.read_csv('../datasets/sonoma_climate/pr_year_CNRM-CM5_historical.csv')
avg_max = pd.read_csv('../datasets/sonoma_climate/tasmax_year_CNRM-CM5_historical.csv')
avg_min = pd.read_csv('../datasets/sonoma_climate/tasmin_year_CNRM-CM5_historical.csv')

In [44]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [45]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [46]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
historical_climate_sonoma = pd.merge(first_join, avg_min, left_on='index', right_on='index')
historical_climate_sonoma.drop(columns='index', inplace=True)
historical_climate_sonoma.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  1950-12-31 00:00:00+00:00   0.214796    68.9162   45.79026

## Sonoma - RCP 45

In [47]:
prec = pd.read_csv('../datasets/sonoma_climate/pr_year_CNRM-CM5_rcp45.csv')
avg_max = pd.read_csv('../datasets/sonoma_climate/tasmax_year_CNRM-CM5_rcp45.csv')
avg_min = pd.read_csv('../datasets/sonoma_climate/tasmin_year_CNRM-CM5_rcp45.csv')

In [48]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [49]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [50]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp45_climate_sonoma = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp45_climate_sonoma.drop(columns='index', inplace=True)
rcp45_climate_sonoma.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   0.076997  71.658775   44.67641

In [51]:
rcp45_climate_sonoma['time Prec']=rcp45_climate_sonoma['time Prec'].map(simplify_year)

In [52]:
rcp45_climate_sonoma.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [53]:
X=rcp45_climate_sonoma[['annual_tmin','annual_tmax']]
rcp45_climate_sonoma['annual_tavg']=lr_annual_tavg.predict(X)

In [54]:
X=rcp45_climate_sonoma[['annual_precip']]
rcp45_climate_sonoma['season_precip']=lr_seasonal_precip.predict(X)

In [55]:
X=rcp45_climate_sonoma[['annual_tavg']]
rcp45_climate_sonoma['season_tavg']=lr_season_tavg.predict(X)

In [97]:
X=rcp45_climate_sonoma[['annual_tmin']]
rcp45_climate_sonoma['season_tmin']=lr_season_tmin.predict(X)

In [56]:
for county in county_columns:
    if county=='county_Sonoma':
        rcp45_climate_sonoma[county]=1
    else:
        rcp45_climate_sonoma[county]=0

## Sonoma - RCP 85

In [57]:
prec = pd.read_csv('../datasets/sonoma_climate/pr_year_CNRM-CM5_rcp85.csv')
avg_max = pd.read_csv('../datasets/sonoma_climate/tasmax_year_CNRM-CM5_rcp85.csv')
avg_min = pd.read_csv('../datasets/sonoma_climate/tasmin_year_CNRM-CM5_rcp85.csv')

In [58]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [59]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [60]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp85_climate_sonoma = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp85_climate_sonoma.drop(columns='index', inplace=True)
rcp85_climate_sonoma.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   0.079163   70.86705  43.311687

In [61]:
rcp85_climate_sonoma['time Prec']=rcp85_climate_sonoma['time Prec'].map(simplify_year)

In [62]:
rcp85_climate_sonoma.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [63]:
X=rcp85_climate_sonoma[['annual_tmin','annual_tmax']]
rcp85_climate_sonoma['annual_tavg']=lr_annual_tavg.predict(X)

In [64]:
X=rcp85_climate_sonoma[['annual_precip']]
rcp85_climate_sonoma['season_precip']=lr_seasonal_precip.predict(X)

In [65]:
X=rcp85_climate_sonoma[['annual_tavg']]
rcp85_climate_sonoma['season_tavg']=lr_season_tavg.predict(X)

In [98]:
X=rcp85_climate_sonoma[['annual_tmin']]
rcp85_climate_sonoma['season_tmin']=lr_season_tmin.predict(X)

In [66]:
for county in county_columns:
    if county=='county_Sonoma':
        rcp85_climate_sonoma[county]=1
    else:
        rcp85_climate_sonoma[county]=0

## San Joaquin - Historical

In [67]:
prec = pd.read_csv('../datasets/sanjoaquin_climate/pr_year_CNRM-CM5_historical.csv')
avg_max = pd.read_csv('../datasets/sanjoaquin_climate/tasmax_year_CNRM-CM5_historical.csv')
avg_min = pd.read_csv('../datasets/sanjoaquin_climate/tasmin_year_CNRM-CM5_historical.csv')

In [68]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [69]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [70]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
historical_climate_sj = pd.merge(first_join, avg_min, left_on='index', right_on='index')
historical_climate_sj.drop(columns='index', inplace=True)
historical_climate_sj.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  1950-12-31 00:00:00+00:00   0.060039   73.19351  49.377846

## San Joaquin - RCP 45

In [71]:
prec = pd.read_csv('../datasets/sanjoaquin_climate/pr_year_CNRM-CM5_rcp45.csv')
avg_max = pd.read_csv('../datasets/sanjoaquin_climate/tasmax_year_CNRM-CM5_rcp45.csv')
avg_min = pd.read_csv('../datasets/sanjoaquin_climate/tasmin_year_CNRM-CM5_rcp45.csv')

In [72]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [73]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [74]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp45_climate_sj = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp45_climate_sj.drop(columns='index', inplace=True)
rcp45_climate_sj.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00    0.02619   76.36575  48.575844

In [75]:
rcp45_climate_sj['time Prec']=rcp45_climate_sj['time Prec'].map(simplify_year)

In [76]:
rcp45_climate_sj.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [77]:
X=rcp45_climate_sj[['annual_tmin','annual_tmax']]
rcp45_climate_sj['annual_tavg']=lr_annual_tavg.predict(X)

In [78]:
X=rcp45_climate_sj[['annual_precip']]
rcp45_climate_sj['season_precip']=lr_seasonal_precip.predict(X)

In [79]:
X=rcp45_climate_sj[['annual_tavg']]
rcp45_climate_sj['season_tavg']=lr_season_tavg.predict(X)

In [99]:
X=rcp45_climate_sj[['annual_tmin']]
rcp45_climate_sj['season_tmin']=lr_season_tmin.predict(X)

In [80]:
for county in county_columns:
    if county=='county_San Joaquin':
        rcp45_climate_sj[county]=1
    else:
        rcp45_climate_sj[county]=0

## San Joaquin - RCP 85

In [81]:
prec = pd.read_csv('../datasets/sanjoaquin_climate/pr_year_CNRM-CM5_rcp85.csv')
avg_max = pd.read_csv('../datasets/sanjoaquin_climate/tasmax_year_CNRM-CM5_rcp85.csv')
avg_min = pd.read_csv('../datasets/sanjoaquin_climate/tasmin_year_CNRM-CM5_rcp85.csv')

In [82]:
prec.drop(columns=['min', 'max', 'std','count'], inplace=True)
avg_max.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)
avg_min.drop(columns=['min', 'max', 'std','count', 'time'], inplace=True)

In [83]:
#renaming the column before merging
cols = [col for col in prec]
def adding_string(value):
    return value + ' ' + 'Prec'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
prec.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmax'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_max.rename(columns=dictionary_2, inplace=True)
def adding_string(value):
    return value + ' ' + 'Tmin'
cols2 = []
for col in cols:
    cols2.append(adding_string(col))
dictionary_2 = dict(zip(cols, cols2))
avg_min.rename(columns=dictionary_2, inplace=True)
#resetting the index for merging 
prec.reset_index(inplace=True)
avg_max.reset_index(inplace=True)
avg_min.reset_index(inplace=True)

In [84]:
first_join = pd.merge(prec, avg_max, left_on='index', right_on='index')
rcp85_climate_sj = pd.merge(first_join, avg_min, left_on='index', right_on='index')
rcp85_climate_sj.drop(columns='index', inplace=True)
rcp85_climate_sj.head(1)

                   time Prec  mean Prec  mean Tmax  mean Tmin
0  2006-12-31 00:00:00+00:00   0.029027   75.03932  47.289837

In [85]:
rcp85_climate_sj['time Prec']=rcp85_climate_sj['time Prec'].map(simplify_year)

In [86]:
rcp85_climate_sj.rename(columns={'time Prec':'year','mean Prec':'annual_precip','mean Tmax':'annual_tmax','mean Tmin':'annual_tmin'},inplace=True)

In [87]:
X=rcp85_climate_sj[['annual_tmin','annual_tmax']]
rcp85_climate_sj['annual_tavg']=lr_annual_tavg.predict(X)

In [88]:
X=rcp85_climate_sj[['annual_precip']]
rcp85_climate_sj['season_precip']=lr_seasonal_precip.predict(X)

In [89]:
X=rcp85_climate_sj[['annual_tavg']]
rcp85_climate_sj['season_tavg']=lr_season_tavg.predict(X)

In [100]:
X=rcp85_climate_sj[['annual_tmin']]
rcp85_climate_sj['season_tmin']=lr_season_tmin.predict(X)

In [90]:
for county in county_columns:
    if county=='county_San Joaquin':
        rcp85_climate_sj[county]=1
    else:
        rcp85_climate_sj[county]=0

## Summary of data

In [91]:
# historical
historical_climate_napa.to_csv('../datasets/historical_napa.csv')
historical_climate_sonoma.to_csv('../datasets/historical_sonoma.csv')
historical_climate_sj.to_csv('../datasets/historical_sj.csv')

In [101]:
# rcp45: projections 1 (warm house worlsd)
rcp45_climate_napa.to_csv('../datasets/rcp45_napa.csv')
rcp45_climate_sonoma.to_csv('../datasets/rcp45_sonoma.csv')
rcp45_climate_sj.to_csv('../datasets/rcp45_sj.csv')

In [102]:
# rcp85: projections 2 (hot house world)
rcp85_climate_napa.to_csv('../datasets/rcp85_napa.csv')
rcp85_climate_sonoma.to_csv('../datasets/rcp85_sonoma.csv')
rcp85_climate_sj.to_csv('../datasets/rcp85_sj.csv')